<!DOCTYPE html>
<html>
<head>
  <title>BettyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name ="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
  <%= stylesheet_link_tag "icons" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/bdk5jqh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed">
			
			<h1>
				<span class="icon-flickr"></span>
				the Betty
				<span class="icon-flickr"></span>
			</h1>
		</div>	
		<div class="wrapper">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<%= yield %>
		</div>	
		<div data-role="footer" data-position="fixed">
			<h5>&copy;2013 Urban Betty</h5>
		</div>	
	</div><!--end page-->
<!--these will be footer links-->
</body>
</html>
